@model CityYearJaxDashboard.Views.Shared.Enrollment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Enrollment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AnnualGoal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnnualGoal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BestofCYGoal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BestofCYGoal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Q1Goal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Q1Goal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Q1Actual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Q1Actual)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Q2Goal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Q2Goal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Q2Actual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Q2Actual)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Q3Goal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Q3Goal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Q3Actual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Q3Actual)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Q4Goal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Q4Goal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Q4Actual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Q4Actual)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Enrollment_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
