@model IEnumerable<DCPSRevenueManagement.Models.DCPSRevenueTable>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Quarter1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quarter2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quarter3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quarter4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quarter5)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Quarter1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quarter2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quarter3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quarter4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quarter5)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
